<html>
  <body class="background-white">
    <div class="main-banner"></div>
    <div class="center construction-container">
      <%= show_svg 'construction.svg' %>
    </div>
    <a class="center error-text background-light-blue round-corners"
       href="https://github.com/jakeod99/jakeod/tree/dev" target="_blank">
      This feature is under construction.</br>
      Click to see progress on GitHub!
    </a>
  </body>
</html>