<html>
  <body class="background-dark-gray">
  <div class="website-header">
    Jake O'Donnell
  </div>
  <nav class="horizontal-bar background-dark-red" style="height: 76px"> <!-- order indicates priority-->
    <%= link_to "Home", root_path, class:"background-dark-red bar-option" %>
    <%= link_to "Sign In", signin_path, class:"background-dark-red bar-option", style:"float: right" %>
    <div class="bar-divider" style="float: right"></div>
    <div class="bar-divider"></div>
    <div class="bar-option">Menu</div>
    <div class="bar-divider"></div>
    <div class="bar-option">Other</div>
    <div class="bar-divider"></div>
  </nav>
  <% @users.each do |user| %>
    <div class="user-info round-corners">
      <%= user.name %>
      </br>
    </div>
  <% end %>
  </body>
</html>