<html>
  <body class="background-white">
    <div class="main-banner" onload="banner.render()"></div>
    <% @users.each do |user| %>
        <div class="user-info round-corners">
        <%= user.name %>
      </br>
      </div>
    <% end %>
  </body>
</html>