<html>
  <body class="background-white">
    <div class="banner">
      <div class="logo">
        <%= link_to image_tag(asset_path('logo.png')), root_path %>
      </div>
      <nav id="main-bar" class="horizontal-bar background-light-blue"> <!-- below order = priority-->
        <%= link_to "Sign In", signin_path, class:"background-light-blue bar-option", id: "sign-in-button" %>
        <div class="bar-option">Menu</div>
        <div class="bar-option">Other</div>
      </nav>
    </div>
  </body>
</html>