<html>
  <body class="background-dark-gray">
    <div class="website-header">
      Jake O'Donnell
    </div>
    <div class="horizontal-bar background-dark-red">
      <div class="bar-option">Home</div>
      <div class="bar-option">Menu</div>
      <div class="bar-option">Other</div>
    </div>
  </body>
</html>