(function($) {

  const logoPath = "<%= asset_path('logo.png') %>";

  window.render = {

    renderAll: function () {
      window.render.banner();
    },

    banner: function() {
      $('.main-banner').html(
          `<div class='center'>
            <a href='/'>
              <img id='logo' src='${logoPath}' />
            </a>
          </div>
          <nav id='main-bar' class='horizontal-bar background-light-blue'> <!-- below order = priority-->
            <div class='bar-option'>Projects</div>
            <div class='bar-option'>Employment</div>
            <div class='bar-option'>Résumé</div>
            <a class="background-light-blue bar-option" id="sign-in-button" href='/signin'>Sign In</a>
          </nav>`
      );
    }

  };

})(jQuery);

jQuery(window.render.renderAll);

$(document).on('turbolinks:load', window.render.renderAll);