$light-blue: #58B2DE;
$gray: #ACACAC;
$white: #FFFFFF;
$black: #000000;

$partial-darkness-change: 5%;
$darkness-change: 10%;

body {
  display: block;
  margin: 0;
}

.horizontal-bar {
  overflow: hidden;
  width: 100%;
  height: auto;
  white-space: nowrap;
  position: relative;
}

.round-corners {
  border-radius: 10pt;
}

#main-bar {
  height: 55pt;
}

#sign-in-button {
  float: right
}

.bar-option {
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10pt 15pt;
  float: left;
  cursor: pointer;
  text-decoration: none;
}

.background-white > .bar-option:hover,
.background-white.bar-option:hover {
  background-color: darken($white, $partial-darkness-change);
}

.background-light-blue > .bar-option:hover,
.background-light-blue.bar-option:hover {
  background-color: darken($light-blue, $partial-darkness-change);
}

.background-white {
   background-color: $white;
   color: $black;
 }

.background-light-blue {
  background-color: $light-blue;
  color: $white;
}

.banner {
  width: 100%;
  padding-bottom: 20pt;
  padding-top: 5pt;
}

.logo {
  display: table;
  margin: 0 auto;
}