$light-blue: #58B2DE;
$gray: #ACACAC;
$white: #FFFFFF;
$black: #000000;

$darkness-change-partial: 7.5%;
$darkness-change: 15%;

body {
  display: block;
  margin: 0;
  font-size: 16pt;
}

.horizontal-bar {
  overflow: hidden;
  width: 100%;
  height: auto;
  white-space: nowrap;
  position: relative;
}

.round-corners {
  border-radius: 10pt;
}

#main-bar {
  height: 36pt;
}

#sign-in-button {
  float: right
}

.bar-option {
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7pt 12pt;
  float: left;
  text-decoration: none;
}

.background-light-blue > error-text:hover,
.background-light-blue.error-text:hover,
.background-light-blue > .bar-option:hover,
.background-light-blue.bar-option:hover {
  background-color: darken($light-blue, $darkness-change-partial);
  cursor: pointer;
}


.background-light-blue > error-text:active,
.background-light-blue.error-text:active,
.background-light-blue > .bar-option:active,
.background-light-blue.bar-option:active {
  background-color: darken($light-blue, $darkness-change);
  cursor: pointer;
}

.background-white {
   background-color: $white;
   color: $black;
 }

.background-light-blue {
  background-color: $light-blue;
  color: $white;
}

.banner {
  width: 100%;
  padding-bottom: 20pt;
  padding-top: 5pt;
}

.center {
  display: table;
  margin: 0 auto;
}

#logo {
  width: 150pt;
}